.row {
    width: 100%;
}

.col {
    width: clamp(375px, 100%, 1400px);
    width: clamp(var(--size-min-width, 365px), 100%, var(--size-max-width, 1400px));
    margin: auto;
}

.container {
    padding: 20px;
    padding: calc(1 * var(--size-base, 20px));

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));
}