.cards .row {
    padding: 60px 0;
    padding: calc(3 * var(--size-base, 20px)) 0;
}

.cards .col {
    padding: 40px 0;
    padding: calc(2 * var(--size-base, 20px)) 0;
}

.cards .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    gap: calc(2 * var(--size-base, 20px));
}

.cards-box {
    max-width: 960px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));
}

@media screen and (width < 1200px) {
    .cards-box {
        max-width: 480px;
        grid-template: repeat(4, 1fr)/repeat(1, 1fr);
    }
}

.cards-box__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));

    color: #fff;
    color: var(--color-text-alt, #fff);
    fill: currentColor;

    padding: 40px;
    padding: calc(2 * var(--size-base, 20px));

    border-radius: 20px;
    border-radius: calc(1 * var(--size-base, 20px));

    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}

@media screen and (width < 500px) {
    .cards-box__item {
        font-size: 86%;
    }
}

.cards-box__item:has(.cards-box-item__pic) {
    text-shadow: 0 0 5px #0008;
    justify-content: flex-end;
}

.cards-box__item:nth-child(1) {
    color: #fff;
    color: var(--color-text-alt, #fff);
    background-image: linear-gradient(#0000 40%, #0008);
}

.cards-box__item:nth-child(2) {
    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
}

.cards-box__item:nth-child(3) {
    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
}

.cards-box__item:nth-child(4) {
    color: #fff;
    color: var(--color-text-alt, #fff);
    background-image: linear-gradient(#0000 30%, #0009);

    align-items: flex-start;
    justify-content: center;
}

.cards-box-item__pic {
    width: auto;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.cards-box-item__desc {
    margin: 0;
    padding: 0;
}

.cards-box-item__desc span {
    font-size: 110%;
    font-weight: 800;
}





.cards-box--person {
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
}

@media screen and (width < 1200px) {
    .cards-box--person {
        max-width: unset;
        grid-template: repeat(1, 1fr)/repeat(2, 1fr);
    }
}

@media screen and (width < 900px) {
    .cards-box--person {
        max-width: 480px;
        grid-template: repeat(2, 1fr)/repeat(1, 1fr);
    }
}

.cards-box--person .cards-box__item {
    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
    background-image: unset;
    /* background-image: linear-gradient(#0000 30%, #000f); */
    justify-content: flex-start;
    aspect-ratio: 1.56/1;
    filter: opacity(.4)
}

