.cards .col {
    padding: 100px 0;
    padding: calc(5 * var(--size-base, 20px)) 0;
}

.cards .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    gap: calc(2 * var(--size-base, 20px));

    /* padding-left: 0;
    padding-right: 0; */
}

.cards-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));

    overflow: hidden;
}

.cards-group {    
    max-width: 960px;
    display: grid;
    grid-template: 1fr/repeat(2, 1fr);
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cards-group::-webkit-scrollbar {
    display: none;
}

.cards-box__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));

    color: #fff;
    color: var(--color-text-alt, #fff);
    fill: currentColor;

    padding: 40px;
    padding: calc(2 * var(--size-base, 20px));

    border-radius: 20px;
    border-radius: calc(1 * var(--size-base, 20px));

    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;

    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
}

@media screen and (width < 1000px) {
    .cards-box__item {
        min-width: 335px;
        min-height: 335px;
    }
}

@media screen and (width < 1000px) {
    .cards-box__item {
        font-size: 85%;
    }
}

.cards-box__item:has(.cards-box-item__pic) {
    text-shadow: 0 0 5px #0008;
    justify-content: flex-end;
}

.cards-box__item--first {
    color: #fff;
    color: var(--color-text-alt, #fff);
    background: linear-gradient(#0000 40%, #0008);

    scroll-snap-align: 20px;
}

.cards-box__item--last {
    color: #fff;
    color: var(--color-text-alt, #fff);
    background: linear-gradient(#0000 30%, #0009);

    align-items: flex-start;
    justify-content: center !important;

    scroll-snap-align: end;
}

.cards-box-item__pic {
    width: auto;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.cards-box-item__desc {
    margin: 0;
    padding: 0;
}

.cards-box-item__desc span {
    font-size: 110%;
    font-weight: 800;
}


