.cards .col {
    padding-top: 40px;
    padding-top: calc(2 * var(--size-base, 20px));
}

.cards .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    gap: calc(2 * var(--size-base, 20px));
    min-height: 640px;
}

.cards-box {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));

    min-width: 800px;
    flex: 3;
}

@media screen and (width < 800px) {
    .cards-box {
        min-width: 100%;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    }
}

@media screen and (width < 500px) {
    .cards-box {
        min-width: unset;
        max-width: 360px;
        grid-template: repeat(6, 1fr)/1fr;
    }
}

.cards-box__item {
    aspect-ratio: 1/1.17;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));

    background-color: #02959b18;
    background-color: var(--color-bg-opacity, #02959b18);

    padding: 20px;
    padding: calc(1 * var(--size-base, 20px));
}

@media screen and (width < 800px) {
    .cards-box__item {
        aspect-ratio: 1/1;
    }
}

.cards-box-item__icon {
    width: 60px;
    height: 60px;

    fill: #02959b;
    fill: var(--color-text-accent, #02959b);
}

.cards-box-item__title {
    margin: 0;
    margin-top: 10px;
    margin-top: calc(.5 * var(--size-base, 20px));
    font-weight: 600;
}

.cards-box-item__desc {
    margin: 0;
    padding: 0;
    font-size: 90%;
    text-align: center;
    min-height: 4.5em;
}



.workhours-box {
    min-width: 400px;
    flex: 2;

    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    background-color: #02959b;
    background-color: var(--color-bg-accent, #02959b);

    padding: 60px;
    padding: calc(3 * var(--size-base, 20px));

    box-shadow: 0 0 0 16px #02959b inset, 0 0 0 20px #fff4 inset;
    box-shadow: 0 0 0 calc(.8 * var(--size-base, 20px)) var(--color-bg-accent, #02959b) inset, 0 0 0 calc(1 * var(--size-base, 20px)) #fff4 inset;

    max-width: 800px;
}

@media screen and (width < 500px) {
    .workhours-box {
        min-width: unset;
    }
}

.workhours-box__pretitle {
    font-size: 160%;
    font-weight: 600;
    line-height: 1;
}

.workhours-box__title {
    font-size: 220%;
    font-weight: 700;
    line-height: 1;
}

.workhours-box__desc {
    margin-bottom: 20px;
    margin-bottom: calc(1 * var(--size-base, 20px));
}

.workhours-box-daytime__item {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    gap: calc(.5 * var(--size-base, 20px));
    border-bottom: 2px solid #fff4;
    border-bottom: calc(.1 * var(--size-base, 20px)) solid #fff4;
}

.workhours-box-daytime__day,
.workhours-box-daytime__time {
    margin: 10px 0;
    margin: calc(.5 * var(--size-base, 20px)) 0;
    white-space: nowrap;
}

@media screen and ((1200px < width < 1400px) or (width < 500px)) {
    .workhours-box-daytime__time span {
        display: none;
    }
}

.workhours-box__action {
    margin-top: 40px;
    margin-top: calc(2 * var(--size-base, 20px));

    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    background-color: #1c374c;
    background-color: var(--color-bg-alt, #1c374c);
}