.content .col {
    padding-top: 40px;
    padding-top: calc(2 * var(--size-base, 20px));
    padding-bottom: 80px;
    padding-bottom: calc(4 * var(--size-base, 20px));
}

.content .container {
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    gap: 40px;
    gap: calc(2 * var(--size-base, 20px));
}

.content__sidebar {
    grid-area: 1/1/2/2;
}

.content__main {
    grid-area: 1/2/2/4;
}





/* content on persons page */
.page--person .content .container {
    max-width: 1020px;
    margin: 0 auto;
}

.page--person .content .content__sidebar {
    margin-left: auto;
}

@media screen and (width < 700px) {
    .page--person .content .content__sidebar {
        display: none;
    }
}

.page--person .content .content__cardsbox {
    background-color: #deedf0;
    background-color: var(--color-bg-softcyan, #deedf0);

    display: flex;
    align-items: center;

    font-size: 65%;
    width: 300px;
    height: 300px;
    padding: 40px;
    padding: calc(2 * var(--size-base, 20px));
    border-radius: 20px;
    border-radius: var(--size-base, 20px);
}

@media screen and (width < 1200px) {
    .page--person .content .content__cardsbox {
        font-size: 77%;
    }
}

@media screen and (width < 1100px) {
    .page--person .content .content__cardsbox {
        font-size: 85%;
    }
}

.page--person .content .content-cardsbox__item {
    background-image: unset;
    color: #444;
    color: var(--color-text, #444);
    justify-content: flex-start;
    aspect-ratio: 1;
}

@media screen and (width < 700px) {
.page--person .content .content__main {
    grid-area: 1/1/-1/-1;
}
}