.footer--first .row {
    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
    font-size: 110%;
}

.footer--first .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 80px 40px;
    padding: calc(4 * var(--size-base, 20px)) calc(2 * var(--size-base, 20px));
}

@media screen and (width < 1000px) {
    .footer--first .container {
        flex-wrap: wrap;
        row-gap: 40px;
        row-gap: calc(2 * var(--size-base, 20px));
    }
}

@media screen and (width < 400px) {
    .footer--first .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (width < 1000px) {
    .footer-first__item:first-child {
        flex-basis: 100%;
        border-bottom: 2px solid #fff4;
        padding-bottom: 40px;
        text-align: center;

        display: flex;
        justify-content: center;
    }
}

.footer-first-item__title {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    margin: 0;
    margin-bottom: 1.5em;
    white-space: nowrap;
}


.footer-first-item__phone,
.footer-first-item__email,
.footer-first-item__address {
    fill: #f0f0f0;
    fill: var(--color-text-alt, #f0f0f0);
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
}

.footer-first-item__address {
    margin-bottom: 1rem;
    margin-bottom: calc(1 * var(--size-base, 1rem));
}

.footer-first-item__phone:hover,
.footer-first-item__email:hover,
.footer-first-item__address:hover {
    fill: #bbb;
    fill: var(--color-text-lgrey, #bbb);
    color: #bbb;
    color: var(--color-text-lgrey, #bbb);
}

.footer-first-item-phone__link,
.footer-first-item-email__link,
.footer-first-item-address__link {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    gap: calc(.5 * var(--size-base, 1rem));
}

@media screen and (width < 600px) {
    .footer-first-address-link__text span {
        display: none;
    }
}

.footer-first-workhours-box__daytime {
    font-size: 80%;
}

.footer-first-workhours-box-daytime__item {
    display: flex;
    justify-content: flex-start;
}

@media screen and (width < 400px) {
    .footer-first-workhours-box-daytime__item {
        justify-content: space-between;
    }
}

.footer-first-workhours-box-daytime-item__day {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    font-weight: normal;
    margin: 0;
}

.footer-first-workhours-box-daytime-item__day::after {
    content: ':';
    padding-right: .4rem;
}

.footer-first-workhours-box-daytime-item__time {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    font-weight: normal;
    margin: 0;
}

@media screen and (width < 500px) {
    .footer-first-workhours-box-daytime-item__time span {
        display: none;
    }
}

.footer-first-item__menu {
    flex-direction: column;
    gap: 0;
}

.footer-first-item-menu__item {
    text-transform: unset;
    font-weight: normal;
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
}

.footer-first-item-menu-item__link:hover {
    color: #bbb;
    color: var(--color-text-lgrey, #bbb);
}