.footer--second {
    background-color: #1c374c;
    background-color: var(--color-bg-alt, #1c374c);
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
}

.footer--second .container {
    flex-direction: row;
    justify-content: space-evenly;
}