.footer--first .row {
    background-color: #02959b;
    background-color: var(--color-bg-accent, #02959b);
    font-size: 110%;
    line-height: 2;
}

.footer--first .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 80px 40px;
    padding: calc(4 * var(--size-base, 20px)) calc(2 * var(--size-base, 20px));
}


.footer-first-item__title {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    margin: 0;
    margin-bottom: 1.5em;
}


.footer-first-item__phone,
.footer-first-item__email,
.footer-first-item__address {
    fill: #f0f0f0;
    fill: var(--color-text-alt, #f0f0f0);
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
}

.footer-first-item__address {
    margin-bottom: 1rem;
    margin-bottom: calc(1 * var(--size-base, 1rem));
}

.footer-first-item__phone:hover,
.footer-first-item__email:hover,
.footer-first-item__address:hover {
    fill: #bbb;
    fill: var(--color-text-lgrey, #bbb);
    color: #bbb;
    color: var(--color-text-lgrey, #bbb);
}

.footer-first-item-phone__link,
.footer-first-item-email__link,
.footer-first-item-address__link {
    display: flex;
    align-items: center;
    gap: .5rem;
    gap: calc(.5 * var(--size-base, 1rem));
}

.footer-first-workhours-box__daytime {
    font-size: 80%;
}

.footer-first-workhours-box-daytime__item {
    display: flex;
    justify-content: flex-start;
}

.footer-first-workhours-box-daytime-item__day {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    font-weight: normal;
    margin: 0;
}

.footer-first-workhours-box-daytime-item__day::after {
    content: ':';
    padding-right: .4rem;
}

.footer-first-workhours-box-daytime-item__time {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    font-weight: normal;
    margin: 0;
}

.footer-first-item__menu {
    flex-direction: column;
    gap: 0;
}

.footer-first-item-menu__item {
    text-transform: unset;
    font-weight: normal;
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
}

.footer-first-item-menu-item__link:hover {
    color: #bbb;
    color: var(--color-text-lgrey, #bbb);
}