.footer--second {
    background-color: #1c374c;
    background-color: var(--color-bg-alt, #1c374c);
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}

.footer--second .container {
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (width < 600px) {
    .footer-second__copy {
        max-width: 190px;
    }
}