:root {
    --size-base: 20px;
    --size-max-width: 1400px;
    --size-min-width: 365px;
    --size-bradius: 100px;

    --ttime: .2s;

    --color-text: #444;
    --color-text-alt: #f0f0f0;
    --color-text-accent: #02959b;
    --color-text-lgrey: #bbb;
    --color-bg: #fff;
    --color-bg-alt: #1c374c;
    --color-bg-accent: #02959b;
    --color-bg-opacity: #02959b18;
    --color-bg-light: #e5feff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: normal normal 1rem/1.5 system-ui, sans-serif;
    font-size: clamp(1rem, 0.912rem + 0.386vw, 1.25rem);
    color: #222;
    color: var(--color-text, #222);
}

a,
button,
input,
textarea {
    color: inherit;
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

b {
    font-weight: normal;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
    text-wrap: balance;
    line-height: 1;
}

h2 {
    font-size: 240%;
    font-weight: 700;
}

p {
    text-wrap: balance; 
}

span {
    text-wrap: balance; 
}

button {
    padding: 16px 60px;
    padding: calc(.8 * var(--size-base, 20px)) calc(3 * var(--size-base, 20px));
    border: none;
    border-radius: 4px;
    border-radius: var(--size-bradius, 4px);

    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    background-color: #02959b;
    background-color: var(--color-bg-accent, #02959b);
    font-weight: 600;

    text-transform: capitalize;
    white-space: nowrap;
}

button:hover {
    background-color: #1c374c;
    background-color: var(--color-bg-alt, #1c374c);

    cursor: pointer;
}