.header-bar {
    color: #D7E0E3;
    color: var(--color-text-lgrey, #D7E0E3);
    fill: currentColor;
    font-size: 90%;
}

.page--person .header-bar,
.page--inner .header-bar {
    color: #444;
    color: var(--color-text, #444);
}

.header-bar .row {
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.header-bar .container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
}

@media screen and (width < 700px) {
    .header-bar .container {
        justify-content: space-between;
    }
}

.header-bar-phone__link,
.header-bar-email__link,
.header-bar-address__link {
    display: flex;
    align-items: center;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));
}

.header-bar-phone__link:hover,
.header-bar-email__link:hover,
.header-bar-address__link:hover {
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}

.page--home .header-bar-phone__link:hover,
.page--home .header-bar-email__link:hover,
.page--home .header-bar-address__link:hover {
    color: #e5feff;
    color: var(--color-bg-light, #e5feff);

}

@media screen and (width < 700px) {
    .header-bar__phone {
        margin-right: auto;
    }
}

.header-bar-phone-link__text,
.header-bar-email-link__text,
.header-bar-address-link__text {
    white-space: nowrap;
}

@media screen and (width < 1000px) {
    .header-bar-address-link__text span {
        display: none;
    }
}

@media screen and (width < 700px) {

    .header-bar-email-link__text,
    .header-bar-address-link__text {
        display: none;
    }
}





.header-nav .row {
    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
}

.header-nav .container {
    padding: 20px;
    padding: calc(1 * var(--size-base, 20px));
    display: flex;
    flex-direction: row;
    height: 101px;
}

@media screen and (orientation: landscape) and (height < 576px) {
    .header-nav .container {
        padding: 10px 20px;
        padding: calc(.5 * var(--size-base, 20px)) calc(1 * var(--size-base, 20px));
        height: 72px;
    }
}

.header-nav__logo {
    width: 275px;
    margin-right: auto;
}

@media screen and (width < 800px) {
    .header-nav__logo {
        margin-right: auto;
    }
}

.header-nav__logo img {
    width: 100%;
    height: auto;
}


.header-nav__menu {
    display: flex;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));
    margin-left: auto;
}

@media screen and (width < 800px) {
    .header-nav__menu {
        display: none;
    }

    .header-nav__menu.active {
        position: fixed;
        inset: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #013334;
        background-color: var(--color-bg-alt, #013334);
    }
}

.nav-menu__item {
    position: relative;
}

.nav-menu-item__link {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.nav-menu-item__link:hover {
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}


.header-nav__submenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    box-shadow: 0 0 1px #D7E0E3;
    box-shadow: 0 0 1px var(--color-text-lgrey, #D7E0E3);
    border-radius: 6px;
    border-radius: var(--size-bradius, 6px);

    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);

    display: none;
    flex-direction: column;
    gap: 10px;
    gap: calc(.5 * var(--size-base, 20px));

    padding: 20px 40px;
    padding: calc(1 * var(--size-base, 20px)) calc(2 * var(--size-base, 20px));
}

.header-nav__submenu.active {
    display: flex;
}

@media screen and (width < 800px) {
    .header-nav__menu.active {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        padding: 40px;
        padding: calc(2 * var(--size-base, 20px));
        text-align: center;
        z-index: 1000;

        color: #f0f0f0;
        color: var(--color-text-alt, #f0f0f0);
    }

    .header-nav__menu.active .nav-menu__item {
        flex: 1;
        align-self: flex-start;
    }

    .header-nav__menu.active .nav-menu-item__link {
        cursor: default;
        font-weight: 800;

        color: #02959b;
        color: var(--color-text-accent, #02959b);
    }

    .header-nav__menu.active .nav-menu-item__link+.header-nav__submenu {
        display: flex;
        position: unset;
        transform: unset;
        background-color: unset;
        padding-left: unset;
        padding-right: unset;
        box-shadow: unset;
    }
}

.nav-submenu-item__link {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.nav-submenu-item__link:hover {
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}

@media screen and (width < 800px) {
    .nav-submenu-item__link:hover {
        color: #02959b;
        color: var(--color-text-accent, #02959b);
    }
}

.nav-menu-burger__open,
.nav-menu-burger__close {
    padding: 0;
    border: none;
    border-radius: unset;
    background: unset;
    display: none;
    align-items: center;
    justify-content: center;

    fill: currentColor;
    cursor: pointer;
}

@media screen and (width < 800px) {
    .nav-menu-burger__open {
        display: flex;
    }

    .header-nav__menu.active~.nav-menu-burger__close {
        display: flex;
        position: fixed;
        top: 20px;
        top: calc(1 * var(--size-base, 20px));
        right: 20px;
        right: calc(1 * var(--size-base, 20px));
        z-index: 1000;

        fill: #f0f0f0;
        fill: var(--color-text-alt, #f0f0f0);
    }

    .header-nav__menu.active~.nav-menu-burger__close:hover {
        fill: #02959b;
        fill: var(--color-text-accent, #02959b);
    }
}

.nav-menu-burger__open:hover,
.nav-menu-burger__close:hover {
    fill: #02959b;
    fill: var(--color-text-accent, #02959b);
    background: unset;
}

.nav-menu-burger-open__icon,
.nav-menu-burger-close__icon {
    width: 40px;
    height: 40px;
}