.page--home .hero .row {
    min-height: calc(100dvh - 101px);
    position: relative;
    overflow: hidden;
}

@media screen and (width < 700px) {
    .page--home .hero .row {
        font-size: 90%;
    }
}

@media screen and (width < 500px) {
    .page--home .hero .row {
        font-size: 80%;
    }
}

@media screen and (orientation: landscape) and (height < 600px) {
    .page--home .hero .row {
        min-height: calc(100dvh - 72px);
    }
}

.page--home .hero__background-video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page--home .hero .col {
    display: grid;
    place-content: center start;
    background-image: conic-gradient(#01333470, #01333470);
    box-shadow: 0 0 0 100vw #01333470;
}

.page--home .hero .container {
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);

    display: flex;
    align-items: flex-start;
    gap: unset;
    height: calc(100dvh - 101px);
    min-height: 440px;

    padding-top: 60px;
    padding-top: calc(3 * var(--size-base, 20px));
}

.page--home .hero__title {
    font-size: 340%;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.page--home .hero__title span {
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}

.page--home .hero__pretitle {
    line-height: 1;
    font-size: 280%;
    font-weight: 300;
    margin: .8em 0 .5em 0;
}

.page--home .hero__desc {
    font-size: 110%;
    margin-bottom: 3em;
    max-width: 570px;
}





/* hero for inner page */
.page--person .hero .row {
    background: transparent linear-gradient(#deedf0, #deedf0) center top/100% 300px no-repeat;
}

@media screen and (width < 700px) {
    .page--person .hero .row {
        background-size: 100% 340px;
    }
}

.page--person .hero .col {
    display: flex;
}

.page--person .hero .container {
    display: flex;
    align-items: center;
    padding-top: 150px;
    /* padding-top: calc(7.5 * var(--size-base, 20px)); */
    padding-bottom: 40px;
    padding-bottom: calc(2 * var(--size-base, 20px));
    margin: 0 auto;
    max-width: 1020px;
    width: 100%;
}

@media screen and (width < 700px) {
    .page--person .hero .container {
        padding-top: 80px;
        padding-top: calc(4 * var(--size-base, 20px));
        padding-left: 0;
        padding-right: 0;
    }
}

.page--person .hero .hero__content {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    gap: 0 40px;
    gap: 0 calc(2 * var(--size-base, 20px));
    align-items: center;
    height: 300px;
    width: 100%;
}

@media screen and (width < 700px) {
    .page--person .hero .hero__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: unset;

        width: 100%;
    }
}

.page--person .hero .hero__title {
    grid-area: 1/2/2/4;
    align-self: end;
    margin-bottom: -10px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 140%;
    font-weight: 600;
}

@media screen and (width < 700px) {
    .page--person .hero .hero__title {
        align-self: center;
        margin: 0;
    }
}

.page--person .hero .hero__subtitle {
    grid-area: 2/2/3/4;
    align-self: end;
    margin-bottom: .8em;
    white-space: nowrap;
    font-size: 110%;
    font-weight: 300;
}

@media screen and (width < 700px) {
    .page--person .hero .hero__subtitle {
        align-self: center;
        margin: 0;
    }
}

.page--person .hero .hero__quote {
    grid-area: 3/2/4/4;
    align-self: start;
    margin: 0;
    margin-top: .8em;
}

@media screen and (width < 700px) {
    .page--person .hero .hero__quote {
        align-self: center;
        margin: 20px 0;
        margin: calc(1 * var(--size-base, 20px)) 0;

        padding: 0 20px;
        padding: 0 calc(1 * var(--size-base, 20px));
    }
}

.page--person .hero .hero-quote__text {
    font-size: 100%;
    font-style: italic;
    font-weight: 600;
}

.page--person .hero .hero-quote__sign {
    display: block;
    text-align: right;
    font-style: italic;
    font-weight: 300;
}

.page--person .hero .hero__cardsbox {
    grid-area: 1/1/-1/2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));
}

@media screen and (width < 700px) {
    .page--person .hero .hero__cardsbox {
        width: 100vw;
        justify-content: unset;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior-x: contain;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.page--person .hero .hero__cardsbox::-webkit-scrollbar {
    display: none;
}

.page--person .hero .hero-cardsbox__item {
    width: 300px;
    height: 300px;
}

@media screen and (width < 700px) {
    .page--person .hero .hero-cardsbox__item {
        min-width: 300px;
        min-height: 300px;
    }
}

@media screen and (width < 700px) {
    .page--person .hero .hero-cardsbox__item--img {
        margin-left: 20px;
        margin-left: calc(1 * var(--size-base, 20px));
    }
}

.page--person .hero .hero-cardsbox__item--img img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.page--person .hero .hero-cardsbox__item--edu {
    display: none;

    background-color: #deedf0;
    background-color: var(--color-bg-softcyan, #deedf0);

    flex-direction: column;
    align-items: flex-start;

    font-size: 77%;
    width: 300px;
    height: 300px;
    padding: 40px;
    padding: calc(2 * var(--size-base, 20px));
    border-radius: 20px;
    border-radius: var(--size-base, 20px);

    box-shadow: 0 0 1px black inset;
}

@media screen and (width < 700px) {
    .page--person .hero .hero-cardsbox__item--edu {
        display: flex;
        margin-right: 20px;
        margin-right: calc(1 * var(--size-base, 20px));
    }
}

.page--person .hero .hero__action {
    grid-area: 4/2/5/4;
    align-self: start;
}

@media screen and (width < 700px) {
    .page--person .hero .hero__action {
        align-self: center;
    }
}

.page--person .hero__action--bg-navy {
    min-width: 152px;
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);

    background-color: #02959b;
    background-color: var(--color-text-accent, #02959b);
    border-color: #02959b;
    border-color: var(--color-text-accent, #02959b);

    grid-column: 1/-1;
    width: min-content;
}

@media screen and (width < 700px) {
    .page--person .hero__action--bg-navy {
        margin-top: 40px;
    }
}

.page--person .hero__action--bg-navy:hover {
    color: #02959b;
    color: var(--color-text-accent, #02959b);
    border-color: currentColor;
}





/* hero for inner page */
.page--inner .hero .row {
    background: transparent linear-gradient(#deedf0, #deedf0) center top/100% 700px no-repeat;
}

@media screen and (width < 700px) {
    .page--inner .hero .row {
        background-repeat: repeat;
        padding-bottom: 20px;
        padding-bottom: calc(1 * var(--size-base, 20px));
}
}

.page--inner .hero .col {
    display: flex;
}

.page--inner .hero .container {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 220px;
    margin: 0 auto;
    min-height: 700px;
}

@media screen and (width < 700px) {
    .page--inner .hero .container {
        align-self: center;
        white-space: normal;
        margin: 0;

        padding-top: 80px;
        padding-top: calc(4 * var(--size-base, 20px));
    }
}

.page--inner .hero .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
    gap: 0 calc(2 * var(--size-base, 20px));
    height: calc(560px);
    width: 100%;
}

@media screen and (width < 700px) {
    .page--inner .hero .hero__content {
        gap: 60px;
        justify-content: space-evenly;
        height: unset
    }
}

.page--inner .hero .hero__title {
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    font-size: 340%;
    font-weight: 700;
}

@media screen and (width < 700px) {
    .page--inner .hero .hero__title {
        align-self: center;
        white-space: normal;
        margin: 0;

        padding: 0 20px;
        padding: 0 calc(1 * var(--size-base, 20px));
    }
}

.page--inner .hero .hero__title span {
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}

.page--person .hero .hero-quote__text {
    font-size: 100%;
    font-style: italic;
    font-weight: 600;
}

.page--person .hero .hero-quote__sign {
    display: block;
    text-align: right;
    font-style: italic;
    font-weight: 300;
}



.page--inner .hero .hero__cardsbox {
    grid-area: 2/1/-1/-1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    gap: calc(1 * var(--size-base, 20px));
}

@media screen and (width < 1150px) {
    .page--inner .hero .hero__cardsbox {
        width: 100vw;
        justify-content: unset;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior-x: contain;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.page--inner .hero .hero__cardsbox::-webkit-scrollbar {
    display: none;
}

.page--inner .hero .hero-cardsbox__item {
    width: 200px;
    height: 150px;

    flex: 0 0 200px;
   
    display: flex;
    align-items: center;
    border-radius: 20px;

    background-color: #013334;
    background-color: var(--color-bg-alt, #013334);
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);

    transition: .2s;
    transition: var(--ttime, .2s);

    padding: 0 20px;
    padding: 0 calc(1 * var(--size-base, 20px));
}

.page--inner .hero .hero-cardsbox__item:hover {
    background-color: #02959b;
    background-color: var(--color-text-accent, #02959b);
}

.page--inner .hero .hero-cardsbox__item:first-child {
    margin-left: 20px;
}

.page--inner .hero .hero-cardsbox__item:last-child {
    margin-right: 20px;
}

.page--inner .hero .hero-cardsbox__item a {
    display: block;

}






/* Page modification */
.page--electronic-brachytherapy .hero {
    margin-bottom: 0px;
}

@media screen and (width < 1000px) {
.page--electronic-brachytherapy .hero {
    margin-bottom: 75px;
}
}

@media screen and (width < 700px) {
    .page--electronic-brachytherapy .hero {
        margin-bottom: 0px;
    }
}

.page--electronic-brachytherapy .header-bar .row {
    backdrop-filter: brightness(10%);
    background-color: #C7EDFA;
}

.page--electronic-brachytherapy .hero .row {
    background-image: url("../img/ebx-ext-v3.png"), linear-gradient(90deg, #C7EDFA, #C7EDFA);
    background-size: auto 635px;
    background-position-x: calc((100vw - 1440px) / 2 + 300px), 0;
    background-position-y: 70px; 
}

@media screen and (width < 1300px) {
    .page--electronic-brachytherapy .hero .row {
        background-position-x: calc((100vw - 1440px) / 2 + 200px), 0;
    }
}

@media screen and (width < 1100px) {
    .page--electronic-brachytherapy .hero .row {
        background-position-x: calc((100vw - 1440px) / 2 + 150px), 0;
    }
}

@media screen and (width < 1000px) {
    .page--electronic-brachytherapy .hero .row {
        background-image: url("../img/ebx-mobile-v3.png"), linear-gradient(90deg, #C7EDFA, #C7EDFA);
        background-size: auto 700px;
        background-position-x: calc((100vw - 1440px) / 2 + 300px), 0;
        background-position-y: center;
    }
}

@media screen and (width < 700px) {
    .page--electronic-brachytherapy .hero .row {
        background-size: auto 500px;
        background-repeat: no-repeat;
        background-position-x: calc((100vw - 1440px) / 2 + 400px), 0;
        background-position-y: center;
    }
}

@media screen and (width < 1000px) {
    .page--electronic-brachytherapy .hero .container {
        padding-top: 70px;
        height: 600px;
        min-height: unset;
    }
}

@media screen and (width < 1000px) {
    .page--electronic-brachytherapy .hero .hero__content {
        display: flex;
        gap: 0 40px;
        height: 100%;
        transform: translateY(75px);
    }
}

.page--electronic-brachytherapy .hero__title {
    text-align: left;
    align-self: flex-start;
    padding-left: 20px;
}

@media screen and (width < 1000px) {
    .page--electronic-brachytherapy .hero__title {
        padding-top: 1em;
    }
}

@media screen and (width < 700px) {
    .page--inner .hero .hero__title {
        align-self: flex-start;
        margin: 0;
        padding: 0 20px;
        padding: 0 calc(1 * var(--size-base, 20px));
    }
}

@media screen and (width < 1100px) {
    .page--electronic-brachytherapy .hero__title span {
        display: block;
        margin-bottom: 1.3em;
    }
}

@media screen and (width < 1000px) {
    .page--electronic-brachytherapy .hero__title span {
        display: unset;
        margin-bottom: 0;
    }
}






.page--skin-ebx-technology .hero .row {
    background-image: url("../img/ebx-finger.png");
    background-size: auto 705px;
    background-position-x: right;
}

.page--skin-ebx-technology .hero .hero__title {
    align-self: flex-start;
    padding: 0 20px;
}

@media screen and (width < 700px) {
    .page--skin-ebx-technology .hero .row {
        background-image: url("../img/ebx-finger--rotate.png");
        background-size: auto 515px;
        background-repeat: no-repeat;
        background-position-y: top;
    }
}

.page--skin-ebx-technology .hero {
    margin-bottom: 0px;
}

@media screen and (width < 700px) {
    .page--skin-ebx-technology .hero {
        margin-bottom: -120px;
    }
}





@media screen and (width < 700px) {
.page--skin-ebx-vs-surgery .hero .row{
    padding-bottom: 0;
    margin-bottom: 60px;
    margin-bottom: calc(3 * var(--size-base));
}
}

@media screen and (width < 700px) {
    .page--skin-ebx-vs-surgery .hero .container {
        padding-top: 120px;
        min-height: 300px;
    }
}

@media screen and (width < 700px) {
    .page--skin-ebx-vs-surgery .hero .hero__content {
        transform: translateY(75px);
    }
}

.page--skin-ebx-vs-surgery .hero .hero__title {
    margin-top: 1em;
    text-align: center;
}

@media screen and (width < 700px) {
    .page--skin-ebx-vs-surgery .hero .hero__title {
        margin-top: 0;
        margin-bottom: 1em;
        text-align: left;
        font-size: 260%;
    }
}