.online {
    background-image: conic-gradient(#02959b22, #02959b22), url(/img/online.jpg);
    background-image: conic-gradient(var(--color-bg-opacity, #02959b22), var(--color-bg-opacity, #02959b22)), url(/img/online.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.online .col {
    padding: 2rem 0;
    padding: calc(2 * var(--size-base, 1rem)) 0;
}

.online__content {
    max-width: 48%;
    align-self: flex-start;
}

.online-content__action {
    margin-top: 1rem;
}

.online-content__desc--accent {
    font-weight: 600;
}

.online-content__link {
    font-size: 140%;
    font-weight: 700;
    color: #02959b;
    color: var(--color-text-accent, #02959b);
}