.persons .col {
    padding: 40px 0;
    padding: calc(2 * var(--size-base, 20px)) 0;
}

@media screen and (width < 700px) {
    .persons .col {
        padding-top: 0;
    }    
}


@media screen and (width < 500px) {
    .persons__title {
        text-align: center;
    }    
}

.persons .container {
    min-height: 640px;
}

.persons__box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    gap: calc(2 * var(--size-base, 20px));
    justify-content: center;
}

.persons__item {
    flex-basis: calc(50% - 40px / 2);
    max-width: calc(25% - 30px);
}

@media screen and (width < 1000px) {
    .persons__item {
        max-width: unset;
    }
}

.persons-item__photo {
    width: 100%;
    height: auto;
    display: block;
}

.persons-item__title {
    font-size: 140%;
}

.persons-item__desc {
    color: #777;
    min-height: 3em;
}

.persons-item__action--small {
    padding: 10px 40px;
    padding: calc(.5 * var(--size-base, 20px)) calc(2 * var(--size-base, 20px));
    margin-bottom: 10px;
    margin-bottom: calc(.5 * var(--size-base, 20px));
    min-width: 182px;
    color: #013334;
    color: var(--color-bg-alt, #013334);
}

.persons-item__action--small:hover {
    background-color: #D7E0E3;
    background-color: var(--color-text-lgrey, #D7E0E3);
}

.persons-item__photo--join-us {
    background-color: #e5feff;
    background-color: var(--color-bg-light, #e5feff);
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;

    border: 3px dashed #02959b;
    /* width: calc(100% - 40px);
    width: calc(100% - 2 * var(--size-base, 20px));
    margin: 20px;
    margin: calc(1 * var(--size-base, 20px));
    box-shadow: 0 0 0 20px #e5feff;
    box-shadow: 0 0 0 calc(1 * var(--size-base, 20px)) var(--color-bg-light, #e5feff); */
}

.persons-item__photo--join-us svg {
    width: 60px;
    height: 60px;
    fill: #02959b;
    fill: var(--color-text-accent, #02959b);
}

/* .persons-item__title--join-us {
    padding-top: calc(.75 * var(--size-base, 20px));
} */