.present .row {
    background-image: url(../img/present.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #F2F9FB;
}

@media screen and (width > 1600px) {
    .present .row {
        background-size: contain;
    }    
}

@media screen and (width < 500px) {
    .present .row {
        background-image: url(../img/present-thin.jpg);
        background-size: 300px auto;
        padding-bottom: 400px;
    }    
}

.present .col {
    padding: 20px 0;
    padding: calc(1 * var(--size-base, 20px)) 0;
}

.present .container {
    display: grid;
    place-content: center;
    margin: auto;
}

.present-content__title {
    text-align: center;    
}

.present-content__quote {
    font-size: 160%;
    font-style: italic; 
    max-width: 50%;
    padding: 80px 0;
    padding: calc(4 * var(--size-base, 20px)) 0;
    margin-left: auto;
}

@media screen and (width < 500px) {
    .present-content__quote {
        max-width: unset;
        padding: 40px 0;
        padding: calc(2 * var(--size-base, 20px)) 0;
    }
}

.present-content__quote span {
    display: block;
    text-align: right;
    font-weight: 300;
}

.present-content__desc {
    text-align: right;
    font-size: 90%;
    font-weight: 600;
}

@media screen and (width < 500px) {
    .present-content__desc {
        text-align: center;
    }
}

.present-content__desc b {
    font-weight: 800;
}

.present-content__action--bg-navy {
    min-width: 152px;
    color: #f0f0f0;
    color: var(--color-text-alt, #f0f0f0);

    /* background-color: #013334;
    background-color: var(--color-bg-alt, #013334); */

    background-color: #02959b;
    background-color: var(--color-text-accent, #02959b);

    /* border-color: #013334;
    border-color: var(--color-bg-alt, #013334); */

    border-color: #02959b;
    border-color: var(--color-text-accent, #02959b);

    grid-column: 1/-1;
    width: min-content;
    margin: 0 0 0 auto;
    margin-bottom: 40px;
    margin-bottom: calc(2 * var(--size-base, 20px));
}

.present-content__action--bg-navy:hover {
    color: #02959b;
    color: var(--color-text-accent, #02959b);

    border-color: currentColor;

    /* background-color: #D7E0E3;
    background-color: var(--color-text-lgrey, #D7E0E3); */
}

@media screen and (width < 500px) {
    .present-content__action--bg-white {
        margin-right: auto;
    }
}


/* @media screen and (width < 1100px) {
    .present .container {
        grid-template: 1fr 50vw/1fr;
    }

    .present__content {
        grid-area: 1/1/2/2;
    }
}

.present-content__pretitle {
    font-size: 160%;
    font-weight: 600;
} */

/* .present-content-list__item {
    list-style: disc;
    margin-left: 2em;
}

.present-content__desc--strong {
    font-weight: 600;
    display: none;
}

.present-content__action {
    margin-top: 20px;
    margin-top: calc(1 * var(--size-base, 20px));
} */
