.reviews .row {
    position: relative;
    overflow: hidden;
}


.reviews__background-video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    filter: brightness(.6);
}

@media screen and (width < 1280px) {
    .reviews__background-video {
        width: auto;
        height: 100%;
    }
}

.reviews .col {
    padding: 60px 0;
    padding: calc(3 * var(--size-base, 20px)) 0;
}

.reviews .container {
    min-height: 600px;
}

@media screen and (width < 1200px) {
    .reviews .container {
        min-height: unset;
    }
}

.reviews__content {
    width: 42%;
    margin-left: auto;
    padding: 30px;
    padding: calc(1.5 * var(--size-base, 20px));
    padding-top: 10px;
    padding-top: calc(.5 * var(--size-base, 20px));
    background-color: #fffa;

    border-radius: 20px;
    border-radius: calc(1 * var(--size-base, 20px));
}

@media screen and (width < 1200px) {
    .reviews__content {
        width: 400px;
    }
}

@media screen and (width < 500px) {
    .reviews__content {
        width: 100%;
    }
}

.reviews-content__title {
    margin-bottom: .5em;
}


.reviews-content-box__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reviews-content-box-item__desc {
    overflow: auto;
    line-height: 1.5;
    max-height: calc(1.5em * 8);
}

.reviews-content-box-item__photo {
    margin: 1rem 0;
}

.reviews-content-box-item__name {
    font-size: 120%;
    font-weight: 600;
}