.visit .row {
    background-image: url(../img/visit-orig.jpg);
    background-size: cover;
    background-position: right 100%;
    background-repeat: no-repeat;
    background-color: #02959b18;
    background-color: var(--color-bg-opacity, #02959b18);
}

@media screen and (width < 900px) {
    .visit .row {
        background-position: 90% 100%;
    }
}

.visit .col {
    padding: 60px 0;
    padding: calc(3 * var(--size-base, 20px)) 0;
}

.visit__content {
    width: 60%;
    margin-right: auto;
}

@media screen and (width < 1300px) {
    .visit__content {
        width: calc(100% - 550px);
    }
}

@media screen and (width < 900px) {
    .visit__content {
        width: calc(100% - 430px);
    }
}

@media screen and (width < 800px) {
    .visit__content {
        width: 400px;
        padding: 30px;
        padding: calc(1.5 * var(--size-base, 20px));
        padding-top: 10px;
        padding-top: calc(.5 * var(--size-base, 20px));
        background-color: #fffd;
    }
}

@media screen and (width < 500px) {
    .visit__content {
        width: 100%;
    }
}

.visit-content__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.visit-content-form__label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.visit-content-form__label sub {
    color: red;
    font-size: 130%;
    padding: .2rem;
}

.visit-content-form__name,
.visit-content-form__phone,
.visit-content-form__email,
.visit-content-form__referring-physician {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: .1em solid #bbb;
    border-color: var(--color-text-lgrey, #bbb);
    padding: .5rem;
    padding: calc(.5 * var(--size-base, 1rem));
}

.visit-content-form__desk {
    margin: 40px 0;
    margin-top: calc(2 * var(--size-base, 20px));
    font-size: 85%;
}

.visit-content-form__action {
    color: #013334;
}